.maximaDashboardBody{
   height: 100vh;
   width: 100%;
   background-color: rgb(243, 243, 243);
   display: flex;
   flex-direction: row;
}
.maximaMainDashboard{
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   padding: 5px 20px 10px 0px;
   box-sizing: border-box;
}




.maximaMainDashboardTop{
   display: flex;
   flex-direction: row;
   align-items: start;
}
.maximaMainDashboardTop h1{
   margin: 10px 0px 10px 0px;
}






.maximaMainDashboardMid{
   display: flex;
   flex-direction: row;
   gap: 20px;
   width: 100%;
   align-items: center;
}
.referralRequestDiv{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
   height: 100%;
   border: 0px solid white;
   background-color: white;
   border-radius: 10px;
   padding: 15px;
   box-sizing: border-box;
}
.referralRequestDiv p,.threeMidSmallCards p{
   color: black;
}
.threeMidSmallDiv{
   width: 50%;
   display: flex;
   flex-direction: row;
   gap: 20px;
}
.threeMidSmallCardsDiv{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.threeMidSmallCards{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 0px solid white;
   background-color: white;
   border-radius: 10px;
   padding: 15px;
   box-sizing: border-box;
}



.maximaMainDashboardBot{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
   margin-top: 20px;
   box-sizing: border-box;
   padding: 0px 0px 10px 0px;
}
.dashboardBotLeft{
   width: 60%;
   height: 100%;
   border: 1px solid white;
   background-color: white;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 10px;
}
.dashboardBotRight{
   width: 40%;
   height: 100%;
   border: 1px solid white;
   background-color: white;
   border-radius: 10px;
   box-sizing: border-box;
   padding: 10px;
}