.activeICA{
   border-bottom: 4px solid black;
}

.mainContentAboutUs{
   display: flex;
   flex-direction: column;
   padding: 20px;
   gap: 50px;
   align-items: center;
   justify-content: center;
}

.mainContentAboutUsTop{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 10px 20px 10px 20px;
}
.mainContentAboutUsTopLeft{
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
}
.mainContentAboutUsTopLeft h1{
   margin: 0px;
   font-size: 2.5rem;
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
}
.mainContentAboutUsTopLeft p{
   font-size: 1rem;
   font-family: "Nunito", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   color: black;
}

.mainContentAboutUsTopRight{
   width: fit-content;
   height: fit-content;
}
.mainContentAboutUsTopRight img{
   width: clamp(200px, 100%, 900px) ;
   height: 300px;
   display: flex;
}



.mainContentAboutUsBottom{
   height: auto;
   width: 99%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.mainContentAboutUsBottomLeft{
   display: flex;
   flex-direction: row;
   gap: 30px;
   justify-content: center;
   align-items: center;
}
.aboutUsCards{
   width: 270px;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 1px solid white;
   background-color: white;
   border-radius: 30px;
   padding: 20px 0px 40px 0px;
   
}
.aboutUsCards h2{
   color: black;
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;  
   font-style: normal;
   margin: 30px 0px 0px 0px;
}
.aboutUsCards p{
   color: black;
   font-family: "Nunito", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-size: 0.9rem;
   text-align: center;
}
.school{
   color: white;
   background-color: rgb(68, 68, 217);
   padding: 8px;
   border-radius: 20px;
}
.diversity_3{
   color: white;
   background-color: rgb(68, 68, 217);
   padding: 8px;
   border-radius: 20px;
}
.tools_ladder{
   color: white;
   background-color: rgb(68, 68, 217);
   padding: 8px;
   border-radius: 20px;
}

.mainContentAboutUsBottomRight{
   display: flex;
   flex-direction: column;
   border-left: 2px solid black;
   padding: 5px 0px 5px 30px;
}
.mainContentAboutUsBottomRight h1{
   margin: 0px 0px 10px 0px;
   color: #0a386c;
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   font-size: 1.6rem;
}
.stakeHolders{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 30px;
}
.stakeHolders h4{
   margin: 0px 0px 6px 0px;
   color: black;
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   font-size: 1.1rem;
}
.stakeHolders p{
   color: black;
   margin: 0px 0px 10px 0px;
   font-family: "Nunito", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-size: 0.9rem;
}
.diversity_4{
   color: white;
   background-color: rgb(0, 0, 130);
   padding: 5px;
   border-radius: 20px;
}
.house{
   color: white;
   background-color: rgb(0, 0, 130);
   padding: 5px;
   border-radius: 20px;
}
.book_ribbon{
   color: white;
   background-color: rgb(0, 0, 130);
   padding: 5px;
   border-radius: 20px;
}