body{
   margin: 0;
   background-color: rgb(250, 250, 250);
   display: flex;
   flex-direction: column;
}










.midpartLogin{
   display: flex;
   flex-direction: column;
   background: rgb(243, 243, 243);
   justify-content: center;
   align-items: center;
   padding: 55px 0px 65px 0px;
}

.loginBox{
   width: 20%;
   background: rgb(243, 243, 243);
   border-radius: 20px;
   padding: 0px 50px 0px 50px;
}
.loginBoxLogoTitle{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.loginBoxLogoTitle img{
   width: 50px;
   height: 50px;
}
.loginBoxLogoTitle h1{
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 1000;
   margin: 0px;
   color: black;
   font-size: 2rem;
}
.loginBoxLogoTitle p{
   margin: 0px 0px 10px 0px;
   font-size: 0.8rem;
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;   color: black;
}


form{
   background-color: white;
   border-radius: 20px;
   border: 1px solid rgb(209, 209, 209);
   padding: 25px 25px 35px 25px;
}

.inputPart{
   display: flex;
   flex-direction: column;
}
.inputPart p{
   margin: 10px 0px 10px 0px;
   font-family: "Nunito", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   color: black;
   font-size: 0.7rem;
}
.inputPart input{
   background-color: white;
   height: 30px;
   border-radius: 10px;
   border: 2px solid #0a386c;
   padding: 0px 0px 0px 10px;
}
.forgotPassword{
   display: flex;
   flex-direction: row;
   align-items: end;
   justify-content: end;
   padding: 16px 0px 16px 0px;
}
.forgotPassword a{
   margin: 0px;
   font-family: "Nunito", sans-serif;
   font-optical-sizing: auto;
   font-weight: 100;
   font-style: normal;
   color: black;
   font-size: 0.8rem;
   text-decoration: none;
   cursor: pointer;
}

.signInBtn{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.signInBtn button{
   background-color: rgb(37, 38, 65);
   color: white;
   height: 40px;
   width: 100%;
   border-radius: 10px;
   border: 1px solid #0a386c;
   cursor: pointer;
   font-family: "Nunito", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
}








































